# DC2019

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('../sbdc_data_merged.csv')

Service Center - SBDC center where a business received counseling services <br>
County - business's county <br>
Initial Services - type of service (individual counseling or group training) an entrepreneur received first when came to SBDC <br>
Attended Group Training? - indicates whether an entrepreneur attended group training(s) before or at the time of individual counseling <br>
Business Status - current business status of a business <br> 
Impact: Capital Investments, $ - sum of capital investments secured by a business during the reporting time <br>
Impact: Created New Jobs - sum of new jobs created by a business during the reporting time <br>
Impact: Revenue Increase -  sum of increase in annual revenue of a business during the reporting time <br>
Impact: Started Business - indicates whether a pre-venture entrepreneur started a business during the reporting time <br>
Company Total Employee - business's current total number of employees <br>
Company's Gross Revenue - business's current annual revenue <br>
Primary NAICS code - business's NAICS (industry) code <br>
Ownership Gender - business owner's gender <br>
Owner's Hispanic Origin - Hispanic origin of a business owner <br>
Owner's Race - business owner's race <br>

In [3]:
data.head(1)

,Service Center,County,Initial Services Sought at First Visit,Attended Group Training?,"Total Counseling Time, hrs",Business Status,Impact: Capital Investments,Impact: Created New Jobs,Impact: Revenue Increase,Impact: Started Business,Company's Total employees,"Company's Gross Revenue, $",NAICS code,Ownership Gender,Owner's Hispanic Origin,Owner's Race,Industry Title,Number of Business Establishments,Region,center_region
0,Anne Arundel County,Anne Arundel,Counseling,No,3.5,Started with SBDC,0.0,0.0,0.0,Not applicable: Already in Business,1.0,60000,56,Male-Owned,Non-Hispanic,Black or African American,Administrative and Support and Waste Managemen...,"1,786,052",Corridor,Corridor

## Basic Counting

In [4]:
data['Ownership Gender'].value_counts()

Male-Owned                      5294
Woman-Owned                     4990
Choose not to respond           3845
Male/Female-Owned               2781
Woman-Owned (WOSB) Certified      91
EDWOSB Certified                  59
WBE Certified                     19
Name: Ownership Gender, dtype: int64

In [5]:
data['Business Status'].value_counts()

Pre-venture/Nascent            6928
In Business (> 1 year)         6703
Started with SBDC              1888
Start-up (in bus. < 1 year)    1560
Name: Business Status, dtype: int64

In [6]:
data['Initial Services Sought at First Visit'].value_counts()

Counseling    14878
Training       2201
Name: Initial Services Sought at First Visit, dtype: int64

In [7]:
data.groupby(['Business Status']).size()

Business Status
In Business (> 1 year)         6703
Pre-venture/Nascent            6928
Start-up (in bus. < 1 year)    1560
Started with SBDC              1888
dtype: int64

In [8]:
data.groupby(['Business Status','Impact: Started Business']).size()

Business Status              Impact: Started Business
In Business (> 1 year)       Not applicable: Already in Business    6596
                             Yes                                     107
Pre-venture/Nascent          No                                     6928
Start-up (in bus. < 1 year)  Not applicable: Already in Business    1442
                             Yes                                     118
Started with SBDC            Not applicable: Already in Business     446
                             Yes                                    1442
dtype: int64

In [9]:
data.groupby(['Attended Group Training?']).size()

Attended Group Training?
No     12116
Yes     4963
dtype: int64

In [10]:
data.groupby(['Ownership Gender']).size()

Ownership Gender
Choose not to respond           3845
EDWOSB Certified                  59
Male-Owned                      5294
Male/Female-Owned               2781
WBE Certified                     19
Woman-Owned                     4990
Woman-Owned (WOSB) Certified      91
dtype: int64

In [11]:
data.groupby(['NAICS code']).size()

NAICS code
11            155
21             16
22             27
23           1082
31            495
32            275
33            512
42            433
44            744
45            678
48            344
49             44
51            391
52            211
53            291
54           2364
55              4
56            980
61            453
62            895
71            475
72           1034
81            992
92             76
Undefined    4108
dtype: int64

## Basic Stats

In [12]:
data['Impact: Capital Investments'].describe()

count    1.707900e+04
mean     3.339382e+04
std      3.324591e+05
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      2.000000e+07
Name: Impact: Capital Investments, dtype: float64

In [13]:
data['Impact: Created New Jobs'].describe()

count    17079.000000
mean         0.876164
std          6.714497
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        501.000000
Name: Impact: Created New Jobs, dtype: float64

In [14]:
data['Impact: Revenue Increase'].describe()

count    1.707900e+04
mean     3.474258e+04
std      3.156441e+05
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      1.208263e+07
Name: Impact: Revenue Increase, dtype: float64

In [15]:
data['Impact: Started Business'].value_counts()

Not applicable: Already in Business    8484
No                                     6928
Yes                                    1667
Name: Impact: Started Business, dtype: int64

## Define Success

In [16]:
data['ROI'] = (data['Impact: Revenue Increase'] - data['Impact: Capital Investments']) / data['Impact: Capital Investments']